body {
  background-color: #EEE;
  margin: auto 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
}

.nav-item {
  text-align: center;
  font-family: cursive, sans-serif;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  width: 200px;
  outline: 1px black solid;
}


div h1 {
  font-family: cursive, sans-serif;
  font-size: 42px;
  color: #EEE;
  margin: 5px 0px;
  text-align: center;
  font-weight: bolder;
  padding-top: 100px;
}

body {
  background-image: url("mendoza.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.welcome {
  height: 700px;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

a {
  outline: 1px black solid;
  margin: 5em;
  text-decoration: none;
  background-color: transparent;
  padding: 1em;
  color: white;
}

a:hover {
  color: #EEE;
  outline: 0px;
}

.welcome p {
  color: #fff;
  margin: 3em;
  padding: 1em;
  align-content: center;
}

#world-map {
  align-content: center;
  height: 80vh;
  width: 80vw;
  margin: 0em 5em 5em 5em;
  border: 1px #333 solid;
  border-radius: 25px;
}

button {
  width: 10%;
  border-radius: 25px;
  align-self: center;
  text-align: center;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-style: none;
}
/*
#france-map {
  align-content: center;
  height: 80vh;
  width: 80%;
  margin: 0em 5em 5em 5em;
  border: 1px #333 solid;
  border-radius: 25px;  
}*/

.pop-up {
  width: 80%;
  height: 80vh;
}

#modalMap .jvectormap-container {
  height: 80vh;
}