nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  position: relative;
  z-index: 2;
}

.nav-item {
  text-align: center;
  font-family: cursive, sans-serif;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  width: 200px;
}


div h1 {
  font-family: cursive, sans-serif;
  font-size: 42px;
  color: #EEE;
  margin: 8px 0px;
  text-align: center;
  font-weight: bolder;
  padding-top: 30px;
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-filter: brightness(.5);
  filter: brightness(.5);  
  z-index: 0;
  background-image: url("oak-barrels-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.welcome {
  height: 700px;
  width: 100%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

a {
  margin: 5em;
  text-decoration: none;
  background-color: transparent;
  padding: 1em;
  color: #EEE;
  outline: 0px;
}

a:hover {
  color: black;
  outline: 0px;
}

.welcome p {
  color: #fff;
  margin: 3em;
  padding: 1em;
  align-content: center;
}

.ui.button {
  margin-bottom: 1em;
  padding-bottom: 1.5em;
  align-self: center;
}

.pop-up {
  padding: 2em;
}

.hide {
  visibility: hidden;
}

.image {
  width: 100%;
  justify-content: center;
}

img {
  height: 70vh;
}

.maps {
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  align-content: center;
  height: 80vh;
  width: 80vw;
  margin: 0em 5em 5em 5em;
  border: 1px #333 solid;
  border-radius: 25px;
}

.modal {
  overflow-y: auto;
}

.column-one-fourth {
  width: 25%;
  text-decoration: bold;
  float: left;
  padding: 1em 1em 1em 2em;
}

.column-three-fourths {
  width: 75%;
  float: right;
  padding: 1em 1em 1em 2em;
}

.row {
  width: 100%;
  overflow: auto;
}